/* Default */

body {
    background-color: #e0e0e0;
}

.headerbgc {
    background-color: #909090;
}

.footerbgc {
    background-color: #909090;
    padding: 24px;
}

.footerlnk, a, a:visited, a:hover, a:link, a:focus {
    color: #ffffff;
    text-decoration: none;
}

.fnt {
    font-family: courier;
    font-size: 16px;
}

.red {
    color: #ff0000;
}

.ptr {
    cursor : pointer;
}

.info {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    width: 50%;
    height: 10%;
    text-align: center;
    visibility: visible;
}

.fn input { // filename
    color: #ffffff;
    background-color: #b0b0b0;
}

.sbtn { // savebutton
    background-color: #c0c0c0;
}

/* ACE */

.ace_editor, .ace_editor * {
    font-family: Courier !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    letter-spacing: 0 !important;
}

#editor {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    margin: auto;
    padding: 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    //border: solid 1px #808080;
    border: solid 0px #808080;
    resize: none;
    font-family: courier;
    font-size: 16px;
}

/* Loader */

.loader {
  position: relative;
  top: -24px;
  width: 48px;
  height: 48px;
  display: inline-block;
  border: 8px solid #b0b0b0;
  border-radius: 50%;
  border-top-color: #606060;
  animation: load 1s ease-in-out infinite;
  -webkit-animation: load 1s ease-in-out infinite;
}
@keyframes load {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes load {
  to { -webkit-transform: rotate(360deg); }
}
