body {
    background-color: #e0e0e0;
}

.headerbgc {
    background-color: #909090;
}

.footerbgc {
    color: #ffffff;
    background-color: #909090;
    padding: 16px;
}

.fnt {
    font-family: courier;
    font-size: 16px;
}

.red {
    color: #ff0000;
}

.ptr {
    cursor : pointer;
}

.wt {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    margin-left: -200px;
    text-align: center;
    visibility: visible;
}

.dsk {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    margin-top:4px;
    visibility: hidden;
}

.fn {
    border: solid 1px #808080;
    padding: 4px;
    margin-right: 4px;
}

.tffn {
    background-color: #b0b0b0;
    padding-left:8px;
}

.btn {
    padding: 4px;
    border: solid 1px #808080;
}

.sbtn {
    color: #ffffff;
    background-color: #b0b0b0;
}

.btn:hover {
    cursor: pointer;
}

.top {
    position: relative;
    text-align: right;
    margin-bottom: 4px;
}

.bot {
    margin-top: 8px;
    margin-left: 8px;
    margin-right:8px;
}

.stl {
    float: left;
}

.str {
    float: right;
}

.impds {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: auto;
}

/* ACE */

.ace_editor, .ace_editor * {
    font-family: Courier !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    letter-spacing: 0 !important;
}

#editor {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    margin: auto;
    padding: 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    //border: solid 1px #808080;
    border: solid 0px #808080;
    resize: none;
    font-family: courier;
    font-size: 16px;
}
